<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Management System</title>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
	
	<h1>Customer Form List</h1>
		<h2>Branch: Master</h2>
		<br><br>
		<a th:href="@{/addNewUserForm}" class="btn btn-success btn-md mb-3">Add Customer</a>
		<br><br>
		<table border="1" class="table table-striped table-bordered table-hover table-condensed text-center">
			<thead>
				<tr>
					<th>ID</th>
					<th>FIRST NAME</th>
					<th>LAST NAME</th>
					<th>DOB</th>
					<th>ADDRESS</th>
					<th>PHONE NUMBER</th>
					<th>ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.dob}"></td>
					<td th:text="${user.address}"></td>
					<td th:text="${user.phoneNumber}"></td>
					<td>
						<a th:href="@{/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-md btn-primary">Update</a>
						<a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-md btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>