<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Customer Management System</title>
<link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<h1>Customer Form Update</h1>
		<hr>
		<h2>Update User</h2>
	
		<form action="#" th:action="@{/saveUser}" th:object="${User}" method="POST">
			<!-- Add Hidden form field to handle update -->
			<input type="hidden" th:field="*{id}">
			<input type="text" th:field="*{id}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{dob}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{address}" class="form-control mb-4 col-4">
			<input type="text" th:field="*{phoneNumber}" class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Update Customer</button>
		</form>
		<hr>
		<a th:href="@{/}"> Back to User List </a>
	</div>
</body>
</html>